.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container{
    margin-top: 10%;
}

.number-process,
.type-scheduler
{
    margin-top: 4rem;
}

.show-fifo .form{
    display: flex;
}
   