@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    
    --primary: #0D1821;
    --secondary: #B4CDED;
    --green: #B6CC6C;
    --red: #CC6C6C;
    --gray-dark: #545457;
    --gray-dark-two: #ABABB0;
    --gray-light: #D9D9D9;
}

a{
    text-decoration: none;
}

body{
    font-family: 'IBM Plex Sans', sans-serif;
}