.my-progress-odd{
	background: rgba(180, 205, 237, .3);;
}

.my-bar{
	width: 0%;
	height: 4rem;
	line-height: 60px;
	background: var(--green);
	text-align:center;
	
	color: #fff;
	transition-property: width;
	transition-duration: 1s;
	transition-timing-function: linear;
}

.tds{
	display: block;
	width: 700px;
    border: none;
}

